:host ::ng-deep {
    .p-paginator-last, .p-paginator-first{
        display: none;
    }
    
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    
    .pokemon-name {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .pokemon-description {
        margin: 0 0 1rem 0;
    }
    
    .pokemon-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .pokemon-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .pokemon-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
    
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    
        .pokemon-list-detail {
            flex: 1 1 0;
        }
    
        .p-rating {
            margin: 0 0 .5rem 0;
        }
    
        .pokemon-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
    
        .pokemon-list-action {
            display: flex;
            flex-direction: column;
        }
    
        .p-button {
            margin-bottom: .5rem;
        }
    }
    
    .pokemon-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        cursor: pointer;
    
        .pokemon-grid-item-top,
        .pokemon-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        img {
            width: 75%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .pokemon-grid-item-content {
            text-align: center;
        }
    
        .pokemon-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.card {
    padding: 2rem;
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .pokemon-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 75%;
			margin: 2rem 0;
		}

		.pokemon-list-detail {
			text-align: center;
		}

		.pokemon-price {
			align-self: center;
		}

		.pokemon-list-action {
			display: flex;
			flex-direction: column;
		}

		.pokemon-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}