<div class="layout-footer p-d-flex p-ai-center p-p-4 p-shadow-2">
    <button pbutton="" pripple="" type="button" icon="pi pi-github fs-large"
       class="p-button-rounded p-button-text p-button-plain p-ml-auto p-mr-2 p-ripple p-button p-component p-button-icon-only">
    <span class="p-button-icon pi pi-github fs-large"></span><span class="p-button-label"></span><span
       class="p-ink"></span></button><button pbutton="" pripple="" type="button" icon="pi pi-facebook fs-large"
       class="p-button-rounded p-button-text p-button-plain p-mr-2 p-ripple p-button p-component p-button-icon-only"><span
       class="p-button-icon pi pi-facebook fs-large"></span><span class="p-button-label"></span><span
       class="p-ink"></span></button><button pbutton="" pripple="" type="button" icon="pi pi-twitter fs-large"
       class="p-button-rounded p-button-text p-button-plain p-mr-2 p-ripple p-button p-component p-button-icon-only"><span
       class="p-button-icon pi pi-twitter fs-large"></span><span class="p-button-label"></span><span
       class="p-ink"></span></button>
 </div>